<div class="border-right p-3" id="sidebar">
    <h3 class="text-black">Países</h3>
    <hr>
    <ul class="list-group list-reset">

        <!-- <li routerLink="" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item list-group-item-action">
            Home Page
        </li>
        <li routerLink="abaut" routerLinkActive="active"
        class="list-group-item list-group-item-action">
            Abaut Page
        </li>
        <li routerLink="contact" routerLinkActive="active"
        class="list-group-item list-group-item-action">
            Contact Page
        </li> -->


        <!-- paginas hijas -->

        <li routerLink="countries/by-capital" routerLinkActive="active"
        class="list-group-item list-group-item-action">
            Por Capital
        </li><li routerLink="countries/by-country" routerLinkActive="active"
        class="list-group-item list-group-item-action">
            Por Pais
        </li><li routerLink="countries/by-region" routerLinkActive="active"
        class="list-group-item list-group-item-action">
            Por Region
        </li>
    </ul>
</div>